*{
  
    box-sizing: border-box;
}
.card{
    position: relative;
   

}
.dark{
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0,.1));
}
.card-img-overlay{
 position: absolute;
 top:30%;
 transform:translateY(50%) ;
 transition:all .5s ease-in ;
 -webkit-transition:all .5s ease-in ;
 -moz-transition:all .5s ease-in ;
 -ms-transition:all .5s ease-in ;
 -o-transition:all .5s ease-in ;
 -webkit-transform:translateY(50%) ;
 -moz-transform:translateY(50%) ;
 -ms-transform:translateY(50%) ;
 -o-transform:translateY(50%) ;
}
.card-text{
    opacity: 0;
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
}
.card:hover .card-img-overlay{
    transform:translateY(0) ;
    -webkit-transform:translateY(0) ;
    -moz-transform:translateY(0) ;
    -ms-transform:translateY(0) ;
    -o-transform:translateY(0) ;
}
.card:hover .card-text{
    opacity: 0.9;
}
.card-title::after{
 content: "";
 position: absolute;
 top: 0;
 left: -.7em;
 width: .2em;
 height: 100%;
 background-color: #7cc576;
 border-radius: .2em;
 -webkit-border-radius: .2em;
 -moz-border-radius: .2em;
 -ms-border-radius: .2em;
 -o-border-radius: .2em;
}
